
  body {
    /*background-color: black;*/
  }
  #verticalLine {
    border-right: thick solid #ff0000;
    margin-right: 10%;
  }
  .logo {
    /*margin-top: 20px;*/
  }
  #form {
    /*border-left: thick solid #ff0000;*/
    /*margin-top: 50%;*/
    /*padding-left: 10%;*/
  }
  #background-black {
    font-size: 14pt;
    padding-top: 7px;
    background-color: rgb(37, 55, 55);;
  }
  .jumbotron {
    background-color: transparent;
    /*padding: 0px;*/
  }
  .quotes {
    font-size: 2em;
  }
